Customer Number <input type="text" [(ngModel)]="bezl.vars['customernumber']"> <button (click)="bezl.functions['onButtonClick']()" class="btn btn-md btn-primary">Search</button>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Item</th>
      <th>Year to Date</th>
      <th>Last Year</th> 
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><b>Total Revenue</b></td>
      <td class="read" *ngFor="let item of bezl.data.RevenueAndCostThisYear">{{item.Total_Revenue | currency:'USD':true}}</td>
      <td class="read" *ngFor="let item of bezl.data.RevenueAndCostLastYear">{{item.Total_Revenue | currency:'USD':true}}</td>
    </tr>
    <tr>
      <td><b>Total Cost</b></td>
      <td class="read" *ngFor="let item of bezl.data.RevenueAndCostThisYear">{{item.Total_Cost | currency:'USD':true}}</td>
      <td class="read" *ngFor="let item of bezl.data.RevenueAndCostLastYear">{{item.Total_Cost | currency:'USD':true}}</td>
    </tr>
    <tr>
      <td><b>Credit Memos</b></td>
      <td class="read" *ngFor="let item of bezl.data.CreditMemoThisYear">{{item.Total_Credit_Memo | currency:'USD':true}}</td>
      <td class="read" *ngFor="let item of bezl.data.CreditMemoLastYear">{{item.Total_Credit_Memo | currency:'USD':true}}</td>
    </tr>
    <tr>
      <td><b>Number of Invoices</b></td>
      <td class="read" *ngFor="let item of bezl.data.BillingInfoThisYear">{{item.Number_Of_Invoices}}</td>
      <td class="read" *ngFor="let item of bezl.data.BillingInfoLastYear">{{item.Number_Of_Invoices}}</td>
    </tr>
    <tr>
      <td><b>Avg. Days to Pay</b></td>
      <td class="read" *ngFor="let item of bezl.data.BillingInfoThisYear">{{item.Average_Days_To_Pay}}</td>
      <td class="read" *ngFor="let item of bezl.data.BillingInfoLastYear">{{item.Average_Days_To_Pay}}</td>
    </tr>
  </tbody>
</table>